<%- include('./partials/header')  %>

<h1>Edit Day</h1>
<form action="/<%= session._id %>/edit?_method=PUT" method="POST">
    <div class="formContainer">  
        <label>Day: 
            <input value="<%= session.day %>" class="newForm" type="number" name="day">
        </label>
        <br/><br/>
        <label> Date: <br/><%= (session.date.getMonth() + 1) %>-<%= (session.date.getDate() + 1) %>-<%= session.date.getFullYear() %>
            <input class="newForm" type="date" name="season">
        </label>
        <br/><br/>
        <label>Mountain: 
            <input value="<%= session.mountain %>" class="newForm" type="text" name="mountain">
        </label>
        <br/><br/>
        <label>Who: 
            <input value="<%= session.who %>" class="newForm" type="text" name="who">
        </label>
        <br/><br/>
        <label>Weather: 
            <input value="<%= session.weather %>" class="newForm" type="text" name="weather">
        </label>
        <br/><br/>
        <label>Temp Hi: 
            <input value="<%= session.tempHi %>" class="newForm" type="number" name="tempHi">
        </label>
        <br/><br/>
        <label>Wind: 
            <input value="<%= session.wind %>" class="newForm" type="number" name="wind">
        </label>
        <br/><br/>
        <label>Notes: 
            <input value="<%= session.notes %>" class="newForm" type="text" name="notes">
        </label>
        <br/><br/>
    </div> 
        <input class="button" type="submit" value="Edit Day"></input>
</form>

<%- include('./partials/footer')  %>