<%- include('./partials/header')  %>

<h1>Home</h1>
<div id="tableContainer">
    <table id="responsiveTable">
        <caption>22/23 Season</caption>
        <thead>
            <tr>
                <th>Day</th>
                <th>Date</th>
                <th>Mountain</th>
                <th>Who</th>
                <th>Weather</th>
                <th>Temp Hi</th>
                <th>Wind</th>
                <th>Notes</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < sessions.length; i++) {%>
                <tr>
                    <td data-cell="Day" ><%= sessions[i].day %></td>
                    <td data-cell="Date" ><%= (sessions[i].date.getMonth() + 1) %>-<%= (sessions[i].date.getDate() + 1) %>-<%= sessions[i].date.getFullYear() %></td>
                    <td data-cell="Mountain" ><%= sessions[i].mountain %></td>
                    <td data-cell="Who" ><%= sessions[i].who %></td>
                    <td data-cell="Weather" ><%= sessions[i].weather %></td>
                    <td data-cell="Temp Hi" ><%= sessions[i].tempHi %></td>
                    <td data-cell="Wind" ><%= sessions[i].wind %></td>
                    <td data-cell="Notes" ><%= sessions[i].notes %></td>
                    <td data-cell="Edit" >
                        <a href="/<%=sessions[i]._id%>/edit">
                            <input class="icons" type="image" src="/images/pencil-square.svg"></input></a>
                    </td>
                    <td data-cell="Delete" >
                        <form id="deleteForm" action="/<%= sessions[i]._id %>?_method=DELETE" method="POST">
                            <input id="deleteButton" class="icons" type="image" src="/images/trash3 (1).svg">
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<%- include('./partials/footer')  %>

